.article__card p {
  color: #000;
  font-family: Inter;
  line-height: 25px;
}

.article__card strong {
  font-weight: 700;
  color: #000;
}

.article__card-dark p {
  color: #ccc;
  font-family: Inter;
  line-height: 25px;
}

.article__card-dark strong {
  font-weight: 700;
  color: #fff;
}
