.h2__observer {
  background-color: #7c53bdaf;
  color: white;
}

.h2__observer:hover {
  background-color: #7c53bdaf !important;
  color: white;
}

.h3__observer {
  border-left: 2px solid #7c53bdaf !important;
}

.h3__observer > span {
  text-decoration: none;
  background-color: #7c53bd8f;
  color: white;
  font-weight: 500;
}

.h3__observer > span:hover {
  text-decoration: none;
  background-color: #7c53bd8f;
  color: white;
  font-weight: 500;
}
