#article p {
  color: #eee;
  font-family: Inter;
  font-size: 21px;
  line-height: 34px;
  padding-bottom: 30px;
  font-weight: 300 !important;
}

.p__tag-previous-h2 {
  padding: 0 !important;
}

.p__tag-next-pre {
  padding-top: 15px;
}

#article img {
  padding: 12px;
  border-radius: 30px;
  background-color: #29292977;
}

#article strong {
  font-weight: 900;
  font-size: 24px;
  color: #fff;
  font-family: Inter;
}

#article h2 {
  font-family: merriweather;
  position: relative;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  padding-top: 60px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 5px solid #fff;
}

#article h2:before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 10px;
  height: 20px;
  border-bottom: 10px solid #0000;
  border-right: 10px solid #0000;
  border-left: 10px solid #9f53fd;
  border-top: 10px solid #0000;
}

#article section:nth-child(1) h2 {
  padding-top: 20px;
}

#article h3 {
  font-family: merriweather;
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  padding-top: 60px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 4px solid #9f53fd;
}

#article code {
  background-color: #141f27;
  color: #9f53fd;
  padding: 2px 4px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 21px;
}

#article pre code {
  background-color: #110f18;
  font-size: 18px;
  color: #979daa;
  padding: 1rem !important;
  border: 1px solid #fff5;
  margin-bottom: 10px;
  font-weight: 300;
}

#article p + ul {
  margin-top: -10px;
}

#article ul {
  padding: 0 0 16px 35px;
}

#article ul li {
  border-left: 3px solid #7c53bd;
  color: #eee;
  font-family: Inter;
  font-size: 20px;
  line-height: 33px;
  margin-bottom: 10px;
  padding-bottom: 8px;
  padding-left: 8px;
  position: relative;
}

#article ul li:before {
  content: "";
  position: absolute;
  left: -14px;
  top: 11px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #7c53bd;
}

#article ol {
  padding: 0 0 16px 35px;
}

#article ol li {
  border-left: 3px solid #7c53bd;
  color: #eee;
  font-family: Inter;
  font-size: 20px;
  line-height: 33px;
  margin-bottom: 10px;
  padding-bottom: 8px;
  padding-left: 8px;
  position: relative;
}

#article ol li:before {
  content: "";
  position: absolute;
  left: -14px;
  top: 11px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #7c53bd;
}

#article li strong:first-of-type {
  text-decoration: underline;
  color: #7c53bd;
  font-weight: 900;
}

#article pre {
  position: relative;
}

#article pre code:before {
  content: "";
  position: absolute;
  right: 10px;
  top: -14px;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.language-javascript::before {
  background-image: url("/images/categories/javascript.svg");
}

.language-js::before {
  background-image: url("/images/categories/javascript.svg");
}

.language-jsx::before {
  background-image: url("/images/categories/react.svg");
}

.language-typescript::before {
  background-image: url("/images/categories/typescript.svg");
}

.language-ts::before {
  background-image: url("/images/categories/typescript.svg");
}

.language-tsx::before {
  background-image: url("/images/categories/react.svg");
}

.language-css::before {
  background-image: url("/images/categories/css.svg");
}

.language-sh::before {
  background-image: url("/images/categories/terminal.svg");
}

.language-shell::before {
  background-image: url("/images/categories/terminal.svg");
}

.language-json::before {
  background-image: url("/images/categories/json.svg");
}
