.article p {
  color: #ccc;
  font-size: 19px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 300 !important;
}

.article a {
  padding-bottom: 1px;
  border-bottom: 2px solid #fff;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  font-family: Inter;
}

.article a:hover {
  color: #eee;
}

.article a::after {
  content: "↗️";
  margin-left: 5px;
}

.article strong {
  font-weight: 900;
  font-size: 20px;
  color: #fff;
  font-family: Inter;
}

.article h2 {
  position: relative;
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  margin: 60px 0 20px 0;
  padding-bottom: 10px;
  border-bottom: 5px solid #fff;
}

.article h2:before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 10px;
  height: 20px;
  border-bottom: 10px solid #0000;
  border-right: 10px solid #0000;
  border-left: 10px solid #7c53bd;
  border-top: 10px solid #0000;
}

.article h3 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin: 40px 0 20px 0;
  padding-left: 10px;
  border-left: 2px solid #7c53bd;
  border-bottom: 5px solid #7c53bd;
  border-bottom-left-radius: 15px;
}

.article code {
  background-color: #fff;
  color: #111;
  padding: 0 4px;
  border-radius: 6px;
  font-size: 16px;
}

.article pre code {
  background-color: #110f18;
  color: #979daa;
  padding: 1rem;
  margin-bottom: 20px;
}

.article p + ul {
  margin-top: -16px;
}

.article ul {
  padding: 0 0 16px 16px;
}

.article ul li {
  position: relative;
  font-size: 19px;
  line-height: 25px;
  color: #ccc;
  margin-bottom: 15px;
  padding-left: 8px;
  padding-bottom: 8px;
  border-left: 3px solid #7c53bd;
  border-bottom-left-radius: 15px;
}

.article ul li:before {
  content: "";
  position: absolute;
  left: -14px;
  top: 11px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #7c53bd;
}

.article ol {
  padding: 0 0 16px 16px;
}

.article ol li {
  position: relative;
  font-size: 19px;
  line-height: 25px;
  color: #ccc;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-left: 1px solid #7c53bd;
  margin-bottom: 5px;
}

.article ol li:before {
  content: "";
  position: absolute;
  left: -14px;
  top: 11px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #7c53bd;
}

.article li strong:first-of-type {
  text-decoration: underline;
  color: #7c53bd;
  font-weight: 700;
}

.article pre {
  position: relative;
}

.article pre code:before {
  content: "";
  position: absolute;
  right: 10px;
  top: -18px;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.language-javascript::before {
  background-image: url("/images/categories/javascript.svg");
}

.language-js::before {
  background-image: url("/images/categories/javascript.svg");
}

.language-jsx::before {
  background-image: url("/images/categories/react.svg");
}

.language-typescript::before {
  background-image: url("/images/categories/typescript.svg");
}

.language-ts::before {
  background-image: url("/images/categories/typescript.svg");
}

.language-tsx::before {
  background-image: url("/images/categories/react.svg");
}

.language-css::before {
  background-image: url("/images/categories/css.svg");
}

.language-sh::before {
  background-image: url("/images/categories/terminal.svg");
}

.language-shell::before {
  background-image: url("/images/categories/terminal.svg");
}

.language-json::before {
  background-image: url("/images/categories/json.svg");
}
