@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

*::selection {
  background-color: #e86d3333;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body__fix {
  overflow-y: hidden;
}

body {
  overflow-x: hidden;
}

/* ===== Scrollbar CSS ===== */
* {
  scrollbar-width: auto;
  scrollbar-color: #e86d33 #060609;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: #060609;
}

*::-webkit-scrollbar-thumb {
  background-color: #e86d33;
  border-radius: 50px;
  border: 0px solid #060609;
}
